---
import Layout from "../layouts/Layout.astro";
import styles from "../styles/formaciones.module.css";
import { formaciones } from "../data/formaciones.js";
---

<Layout>
  <section class={styles.container}>
    <h1>Formaciones</h1>
    <p>Explora nuestras formaciones sincrónicas en Ayurveda:</p>
    
    <ul class={styles.list}>
      {formaciones.map((curso) => (
        <li class={styles.card} key={curso.slug}>
          <h2>{curso.titulo}</h2>
          <h3>{curso.subtitulo}</h3>
          <p class={styles.description}>{curso.descripcion}</p>
          <a href={`/TILA/formacion/${curso.slug}`} class={styles.button}>Ver más</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>
